@model Dictionary<string, object>

<div class="bg-primary panel-body">
    <h4>Details sur les utilisateurs</h4>
</div>

<table class="table table-condensed table-bordered">
    @foreach(var kvp in Model)
    {
        <tr>
            <th>@kvp.Key</th>
            <td>@kvp.Value</td>
        </tr>
    }
</table>